# --- Librerías para el Demo Interactivo ---
streamlit
pandas

# --- Librerías para la versión Final (Descomentar luego) ---
openai
facebook-business
Pillow
python-dotenv
requests
html2image
# --- Libreria parte 3
chromium
chromium-driver
